* {
  margin: 0;
  padding: 0;
  font-family: "Indie Flower", cursive;
}

header{
  background-color: #d524db;
  color: rgba(255, 255, 255, 0.966);
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header h1{
  text-align: center;
  font-size: 50px;
}

h1{
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 0 15px;
}

img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/*Exemplo com classe no css*/
.sobre_nos{
  width: 80%;
  text-align: center;
}