* {
  margin: 0;
  padding: 0;
}

header{
  background-color: #ec1414;
  color: rgba(247, 210, 0, 0.966);
  height: 135px;
}

header h1{
  text-align: center;
  font-size: 50px;
}

h1{
    margin-top: 10px;
    margin-bottom: 20px;
}

nav ul{
  list-style: none;
  text-align: center;
}

nav ul li{
  display: inline;
  margin: 0 15px;
}

img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}